   /* General */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Alegreya Sans', sans-serif;
  min-width: 500px;
  font-size: 10px;
}

.paddin_left_10{
  padding-left: 10px;
}

.clearfix::after{
  display: table;
  content: '';
  clear: both;
}

.float_left{
  float: left;
}

.float_right{
  float: right;
}

h3{
  font-size: 15px;
}

.font_size_14{
  font-size: 14px;
}

.color_grey{
  color: grey;
}

/* Background */
.frame{
  height: 100vh;
  width: 100%;
  border-top: 100px solid #307B6D;
  background-color: #D0D9D9;
}

/* Main-Part */
.container{
  /* display: flex; */
  height: 520px;
  /* height: 90%; */
  width: 80%;
  margin: auto;
  margin-top: -80px;
  /* background-color: lightpink; */
}

/* First section */
.avatar-box{
  /* display: flex;
  flex-direction: column; */
  width: 35%;
  height: 520px;
  /* height: 100%; */
  border-right: 1px solid lightgrey;
  /* background-color: cadetblue; */
}

.header-top,
.conversation-top,
.conversation-bottom{
  /* display: flex; */
  height: 50px;
  width: 100%;
  /* padding-left: 10px; */
  background-color: #E2E2E2;
}

.header-top,
.conversation-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


.img-box {

}

/* .img-box img{
  width: 100%;
} */

.img-box img{
  height: 40px;
  width: auto;
  border-radius: 50%;
}

.icon-box {
  color: grey;
}

.icon-box i{
  font-size: 18px;
  padding: 7px;
}


/* Header-bottom */
.header-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #38bde8;
}

.header-bottom i{
  font-size: 18px;
  color: #38bde8;
  background-color: white;
  padding: 10px;
  border-radius: 50%;

}

.notice-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  padding-left: 10px;
}

.notice-box h4{
  font-weight: bold;
  font-size: 14px;
}

.notice-box a{
  font-size: 12px;
  color: #666666;
}


/* Search-box */
.search-box{
  height: 40px;
  width: 100%;
  padding: 5px;
  background-color: #F0F0F0;

}

.search-box input{
  height: 30px;
  width: 100%;
}

::placeholder{
  text-align: center;
}

/* Dialogue-list */
.dialogue-list{
  height: 360px;
  /* height: calc(100% -160px); */
  width: 100%;
  overflow-y: scroll;
  background-color: white;
}

.dialogue-box{
  display: flex;
  height: 70px;
  width: 100%;
  border: 1px solid lightgrey;
}

.dialogue-box img{
  height: 50px;
  margin: 10px;
  border-radius: 50%;
}

.contacts{
  width: 90%;
}

.contact_info_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.contact_info_top .time,
.{

}

/* Second section */
.conversation-box{
  width: 65%;
  height: 520px;
  /* height: 100%; */
  background-color: pink;
}

.contact_info_top small,
.contact_info_bottom small{
  color: grey;
}

.contact{
  width: 70%;
}

.contact .time{
  color: grey;
  font-size: 12px;
}

.conversation-middle{
  height: 420px;
  width: 100%;
  overflow-y: scroll;
  background-image: url(../img/sfondo-moderno-whatsapp_23-2147900936.jpg);
  background-position: center;
}

.conversation-bottom{

}

/* Messages */
.message-box{
  max-width: 50%;
  min-width: 35%;
  font-size: 14px;
  padding: 8px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 1px 2px 6px grey;
  background-color: lightgreen;
}

.message-top{
  display: flex;
  justify-content: space-between;
}

.message-bottom{
  text-align: right;
}

.message-top i{
  font-size: 10px;
}

.message-box.sent{
  float: right;
  clear: both;
}

.message-box.received{
  float: left;
  clear: both;
  background-color: white;
}
