   /* General */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  min-width: 500px;

}

/* Background */
.frame{
  width: 100%;
  height: 100vh;
  border-top: 100px solid #307B6D;
  background-color: #D0D9D9;
}

/* Main-Part */
.container{
  display: flex;
  height: 580px;
  width: 80%;
  margin: auto;
  margin-top: -80px;
  /* background-color: lightpink; */
}

/* First section */
.avatar-box{
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 580px;
  border-right: 1px solid lightgrey;
  /* background-color: cadetblue; */
}

.header-top,
.conversation-top,
.conversation-bottom{
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #E2E2E2;
}

.img-box {
  align-self: center;
}

.img-box img{
  height: 40px;
  width: auto;
  border-radius: 50%;
}

.icon-box{
  align-items: center;
}

.icon-box li{
  list-style: none;
  display: inline-block;
  justify-content: flex-end;
  align-items: center;
}

.icon-box li i{

}

.header-bottom{
  height: 70px;
  width: 100%;
  background-color: CornflowerBlue;
}

.search-box{
  height: 30px;
  width: 100%;
  background-color: bisque;
}

.dialogue-list{
  height: 430px;
  width: 100%;
  background-color: white;
}




/* Second section */
.conversation-box{
  width: 65%;
  height: 580px;
  background-color: pink;
}

.conversation-top{

}

.conversation-middle{
  height: 480px;
  width: 100%;
  background-color: white;
}

.conversation-bottom{

}
