   /* General */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Alegreya Sans', sans-serif;
  min-width: 500px;
  font-size: 10px;
}

.paddin_left_10{
  padding-left: 10px;
}

.float_right{
  float: right;
}


/* Background */
.frame{
  width: 100%;
  height: 100vh;
  border-top: 100px solid #307B6D;
  background-color: #D0D9D9;
}

/* Main-Part */
.container{
  display: flex;
  height: 580px;
  width: 80%;
  margin: auto;
  margin-top: -80px;
  /* background-color: lightpink; */
}

/* First section */
.avatar-box{
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 580px;
  border-right: 1px solid lightgrey;
  /* background-color: cadetblue; */
}

.header-top,
.conversation-top,
.conversation-bottom{
  display: flex;
  height: 50px;
  width: 100%;
  /* padding-left: 10px; */
  background-color: #E2E2E2;
}

.img-box {
  align-self: center;
}

.img-box img{
  height: 40px;
  width: auto;
  border-radius: 50%;
}

.icon-box{
  align-items: center;
}

.icon-box li{
  list-style: none;
  display: inline-block;
}

.icon-box li i{
}


/* Header-bottom */
.header-bottom{
  height: 70px;
  width: 100%;
  background-color: #38bde8;
}

.header-bottom i{
  text-align: center;
  vertical-align: middle;

}

.notice-box{
  display: inline-block;
  vertical-align: middle;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 15px;
  line-height: 10px;
}

.notice-box p{
  font-weight: bold;
}

.notice-box a{
  color: #666666;
}

.search-box{
  /* height: 30px;
  width: 100%; */
  padding: 5px;
  background-color: #F0F0F0;

}

.search-box input{
  height: 30px;
  width: 100%;
}

::placeholder{
  text-align: center;
}

/* Dialogue-list */
.dialogue-list{
  height: 430px;
  width: 100%;
  overflow-y: auto;
  background-color: white;
}

.dialogue-box{
  height: 70px;
  width: 100%;
  border: 1px solid lightgrey;
}

.dialogue-box img{
  height: 50px;
  margin: 10px;
  border-radius: 50%;
}

/* Second section */
.conversation-box{
  width: 65%;
  height: 580px;
  background-color: pink;
}

.conversation-top{

}

.conversation-middle{
  height: 480px;
  width: 100%;
  background-color: white;
}

.conversation-bottom{

}
